<div id="content" class="app-content" role="main">
    <div class="box">
        <div class="box-row">
            <div class="box-cell page-no-scroll">
                <div class="box-inner p-md">
                    <div class="center-block w-xxl w-auto-xs p-v-md">
                        <div class="navbar">
                            <div class="m-t-lg text-center">
                                <!-- <img src="assets/img/logo.png" class="img-responsive logo" alt="{{state.app.name}}" title="{{state.app.name}}" /> -->
                                <h1 class="block text-lg m-v-sm">{{state.app.name}}</h1>
                            </div>
                        </div>
                        <div class="p-lg md-whiteframe-z1 text-color m">
                            <div class="m-b text-sm">
                                {{title}}
                            </div>
                            <form name="form" [formGroup]="loginForm" (submit)="login(user)" id="login-form" *ngIf="selectedIndex==0">
                            	<div>
                                    <div class="md-form-group float-label">
                                        <input [(ngModel)]="user.email" ele-ref (instance)="focus(userInput=$event)" formControlName="email" name="email"
                                            class="md-input md-block"/>
                                        <label class="weight-normal">Email or Username</label>
                                        <control-messages [control]="loginForm.controls.email" [label]="'Email'"></control-messages>
                                    </div>
                                    
                                    <div class="md-form-group float-label">
                                        <input type="password" ele-ref (instance)="passInput=$event" class="md-input md-block" formControlName="password" name="password"
                                            [(ngModel)]="user.password" />
                                        <label class="weight-normal">Password</label>
                                        <control-messages [control]="loginForm.controls.password" [label]="'Password'"></control-messages>
                                    </div>
                                    <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md">Sign in</button>
                                </div>
                            </form>
                            <div *ngIf="selectedIndex==1">
                                <div class="md-form-group float-label">
                                    <label class="weight-normal">Store</label>
                                    <select class="md-input md-block" [(ngModel)]="user.store" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let s of stores;let i=index" [value]="s.id" [selected]="i==0">{{s.name}}</option>
                                    </select>
                                </div>
                                <button md-ink-ripple type="button" class="md-btn md-raised pink btn-block p-h-md" (click)="continue()">Continue</button>
                                <button class="btn-block md-btn md-raised p-h-md" type="button" (click)="prevStep()">Back</button>
                            </div>
                        </div>

                        <div class="p-v-lg text-center-sm" *ngIf="selectedIndex==2">
                            <div class="m-b"><button (click)="forgetPassword()" class="md-btn">Forgot password?</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>