<div class="left md-whiteframe-z1" (mouseleave)="toggleAside()">
  <div class="box bg-white">
    <div class="navbar md-whiteframe-z1 no-radius" [ngClass]="state.app.setting.theme.primary">
      <!-- brand -->
      <a class="navbar-brand">
        <span class="hidden-folded m-l inline">{{state.app.name}}</span>
        <a md-ink-ripple data-toggle="modal" (click)="toggleAside()" data-target="#aside" class="navbar-item pull-right visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
      </a>
      <!-- / brand -->
    </div>
    <div class="box-row">
      <div class="box-cell scrollable hover">
        <div class="box-inner">
          <div id="nav">
            <nav ui-nav>
              <ul class="nav">
                
                <li *ngFor="let view of navsHeader; let i = index" [ngClass]="{active:view.visible}" class="brown-50">
                  <span *ngIf="view.childs.length">
                  <a>
                    <span class="pull-right text-muted">
                      <a md-ink-ripple href="javascript:void(0)" (click)="changePassword($event)" class="font-normal no-padding" title="{{ view.childs[0].name }}"><i [ngClass]="view.childs[0].icon"></i></a>
                    </span>
                    <span class="font-bold" [innerHTML]="view.name"></span>
                  </a>
                  </span>
                  <span *ngIf="!view.childs.length">
                    <a md-ink-ripple [routerLink]="[view.link]">
                      <i class="icon i-20" [ngClass]="view.icon"></i>
                      <span class="font-normal">{{view.name}}</span>
                    </a>
                  </span>
                </li>      

                <li *ngFor="let view of navs; let i = index" [ngClass]="{active:view.visible}"  [checkAuth]="view.access"  [permission]="view.permission">
                  <span *ngIf="view.childs.length">
                  <a md-ink-ripple (click)="toggleMenu(i)">
                    <span class="pull-right text-muted">
                      <i class="fa" [ngClass]="view.caret"></i>
                    </span>
                    <i class="icon i-20" [ngClass]="view.icon"></i>
                    <span class="font-normal">{{view.name}}</span>
                    <ul class="nav nav-sub" [class.hidden]="!view.visible">
                      <li *ngFor="let child of view.childs" [checkAuth]="child.access" [permission]="child.permission">
                        <a md-ink-ripple [routerLink]="[ child.link ]">{{child.name}}</a>
                      </li>
                    </ul>
                  </a>
                  </span>
                  <span *ngIf="!view.childs.length">
                    <a md-ink-ripple [routerLink]="[view.link]">
                      <i class="icon i-20" [ngClass]="view.icon"></i>
                      <span class="font-normal">{{view.name}}</span>
                    </a>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
