@media print {
    .container-fluid > .col-xs-4{
        display: none !important;
    }
    app-search {
        display: none;
    }
    #main-panel{
        width: 100%;
        float: none;
        border: 0;
    }
    .col-xs-offset-3.col-xs-6{
        width: 100%;
        float: none;
        clear: both;
        overflow: visible;
        margin: 0;
    }
    #main-panel #content{
        width: 100%;
        height: 100% !important;
        overflow: visible;
    }
    .text-left{
        text-align: left
    }
    .text-right{
        text-align: right;
        display: inline-block;
    }
    .no-print{
        display: none;
    }
}