<div [hidden]="!state.bLoader">
	<p-progressBar mode="indeterminate" [style]="{'height': '5px'}"></p-progressBar>
</div>
<!-- aside -->
<aside id="aside" *ngIf="authLogin()" #aside class="app-aside md-sidenav-left modal fade in" [ngClass]="{'folded': state.app.setting.asideFolded}" md-component-id="aside">
</aside>
<!-- / aside -->
<!-- content -->
<div id="content" class="app-content" role="main">
    <div class="box">
      <!-- Content Navbar -->
      <div class="navbar md-whiteframe-z1 no-radius"  *ngIf="authLogin()" [ngClass]="state.app.setting.theme.primary">
        <!-- Open side - Naviation on mobile -->
        <a md-ink-ripple  data-toggle="modal" (click)="openAside()" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
        <!-- / -->
        <!-- GoBack - Back to parent if $state has the param 'child' -->
        <a md-ink-ripple class="navbar-item pull-left" (click)="goBack()" [hidden]="state.app.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
        <!-- / -->
        <!-- Page title - Bind to $state's title -->
        <div class="navbar-item pull-left text-header">{{title}} - {{state.document}}</div>
      </div>
      <!-- Content -->
      <div class="box-row">
        <!--page-no-scroll class is used only for print css -->
        <div class="box-cell page-no-scroll">
    	    <div class="box-inner padding">
            <simple-notifications [options]="options"></simple-notifications>
            <!-- <change-password #cPassword></change-password> -->
	    	    <router-outlet></router-outlet>
	        </div>
        </div>
      </div>
      <!-- / -->
    </div>
</div>
<!-- / content -->