<div class="panel panel-default" id="user">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-user"></i> Users List
        <div class="pull-right m-t-n-5">
            <button type="button" (click)="onCreate(lgModal)" [checkAuth]="'user'" [permission]="'C'" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i> Add User</button>
        </div>
    </div>
    <br />
    <div class="panel-body">
        <div class="form-group col-sm-4 pull-right text-right no-padding m-b-sm">
            <input type="text" name="search" class="form-control">
        </div>
        <div class="clearfix"></div>
        <p-table #dt [value]="data" [totalRecords]="totalRecords" [paginator]="true" [rows]="20" sortMode="single" [pageLinks]="3" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [rowsPerPageOptions]="[20,50,100]" [responsive]="true" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>                    
                    <th [pSortableColumn]="'Id'" class="text-center">Id 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Id'" class="text-center">Name 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Id'" class="text-center">Username 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Id'" class="text-center">Email 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Id'" class="text-center">Role 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Id'" class="text-center">Status 
                        <p-sortIcon [field]="'Id'"></p-sortIcon>
                    </th>
                    <th class="text-center">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.roleName}}</td>
                    <td>{{row.status == '1' || row.status == 1?'Enabled':'Disabled'}}</td>
                    <td class="text-center">
                        <a tooltip="Edit" (click)="onEdit(row, lgModal)" [checkAuth]="'user'" [permission]="'U'" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
                        <a tooltip="Delete" (click)="onDelete(row)" *ngIf="row.id!=userId" [checkAuth]="'user'" [permission]="'D'" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-left" colspan="7">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{scenario}} User</h4>
            </div>
            <form class="form-horizontal p-h-xs" [formGroup]="userForm">
                <div class="modal-body">
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="Name">Name:</label>
                        <div class="col-sm-7 no-padding">
                            <input type="text" name="name" formControlName="name" class="form-control" [(ngModel)]="user.name" />
                            <control-messages [control]="userForm.controls.name" [label]="'Name'"></control-messages>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="Email">Store:</label>
                        <div class="col-sm-7 no-padding">
                            <input name="store" type="text" class="form-control" [value]="store" readonly/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="Username">Username:</label>
                        <div class="col-sm-7 no-padding">
                            <input name="username" type="text" formControlName="username" class="form-control" [(ngModel)]="user.username"
                            />
                            <control-messages [control]="userForm.controls.username" [label]="'Username'"></control-messages>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="RoleId">User Role:</label>
                        <div class="col-sm-7 no-padding">
                            <select name="roleId" class="form-control" formControlName="roleId" [(ngModel)]="user.role_id">
                                <option value="">Select Option</option>
                                <option *ngFor="let r of roles" value="{{r.id}}">{{r.name}}</option>
                            </select>
                            <control-messages [control]="userForm.controls.roleId" [label]="'User Role'"></control-messages>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="Email">Email:</label>
                        <div class="col-sm-7 no-padding">
                            <input name="email" type="text" class="form-control" formControlName="email" [(ngModel)]="user.email" />
                            <control-messages [control]="userForm.controls.email" [label]="'Email'"></control-messages>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="col-sm-5 control-label" for="StatusId">Status:</label>
                        <div class="col-sm-7 no-padding">
                            <select name="statusId" class="form-control" formControlName="statusId" [(ngModel)]="user.status">
                                <option *ngFor="let v of status" value="{{v.id}}">{{v.name}}</option>
                            </select>
                            <control-messages [control]="userForm.controls.statusId" [label]="'Status'"></control-messages>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 form-group" [hidden]="changePassword">
                        <label class="col-sm-5 control-label" for="password">Password:</label>
                        <div class="col-sm-7 no-padding">
                            <input name="password" #password type="password" formControlName="password" [(ngModel)]="user.password" class="form-control"
                            />
                            <control-messages [control]="userForm.controls.password" [label]="'Password'"></control-messages>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group" [hidden]="changePassword">
                        <label class="col-sm-5 control-label" for="confirmPassword">Confirm Password:</label>
                        <div class="col-sm-7 no-padding">
                            <input type="password" name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="cPassword"
                                class="form-control" />
                            <control-messages [control]="userForm.controls.confirmPassword" [label]="'Confirm Password'"></control-messages>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onSave(user, lgModal)" [disabled]="(!userForm.dirty && scenario == 'Create') || state.bLoader"
                        class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" (click)="lgModal.hide()">Cancel</button>
                    <button type="button" *ngIf="scenario == 'Update' && changePassword" (click)="showPassword()" class="btn btn-info">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>